@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./Fonts.css";

@layer base {
  * {
    @apply box-border m-0 p-0;
  }

  body {
    @apply bg-primary overflow-x-hidden text-text;
  }

  a {
    @apply no-underline text-text;
  }

  ul {
    @apply list-none;
  }
}

@layer utilities {
  .clip {
    /* clip-path: path(
      "M 10,20 L 60,20 A 10,10 0,0,0 70,10 L 70,10 A 10,10 0,0,1 80,0 L 140,0 L 150,10 L 150,190 L 140,200 L 10,200 L 0,190 L 0,30 L 10,20 Z"
    ); */
    clip-path: path(
      "M 0,55 A 10,10 0,0,1 10,45 L 130,45 A 10,10 0,0,0 140,35 L 140,20 A 10,10 0,0,1 150,10 L 278,10 A 10,10 0,0,1 288,20 L 288,310 A 10,10 0,0,1 278,320 L 10,320 A 10,10 0,0,1 0,310 Z"
    );
  }
}

html {
  scroll-behavior: smooth;
}
