* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--accent);
  color: var(--bg);
}

:root {
  --trans: 0.3s ease-in-out;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5em;
  background: var(--bg);
  color: var(--text);
  font-family: sans-serif;
}

body.dark {
  --bg: #0d0d0d;
  --primary: #38bdf8;
  --secondary: #1e293b;
  --accent: #c20000;
  --accent2: #c2000080;
  --text: #e2e8f0;
  --text2: #e2e8f010;
}

body.light {
  --bg: #f2f2f2;
  --primary: #0284c7;
  --secondary: #7286a1;
  --accent: #8a0000;
  --accent2: #8a000080;
  --text: #0f0f0f;
  --text2: #1a1a1a20;
}

a {
  color: var(--text);
}

ul {
  list-style: none;
}

h2 {
  position: relative;
}

/* Theme Toggler */

.theme-toggler {
  width: 6rem;
  height: 3rem;
  border-radius: 99rem;
  background: var(--secondary);
  position: relative;
  cursor: pointer;
}

.theme-toggler::before {
  position: absolute;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  top: 33%;
  left: 25%;
  transform: translate(-35%, -25%);
  transition: var(--trans);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--text);
}

.theme-toggler.active::before {
  left: 65%;
  background: var(--accent);
}

/* Menu */

.menu {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
  cursor: pointer;

  span {
    width: 3.2rem;
    height: 4px;
    background: var(--text);
  }
}

.menu:hover span {
  background: var(--accent);
}

.menu.active {
  span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 8px);
  }

  span:nth-child(2) {
    opacity: 0;
  }

  span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -7px);
  }
}

section {
  margin-bottom: 6.4rem;
  padding: 0 8rem;
}
